.neo-about{
	width: 100vw;
	height: 100vh;
	background: #efefef;
	overflow: hidden;
	.ws-breadcrumb {
		margin-bottom: 10px;
	}
	.ws-articles {
		height: calc(~"100vh - 3rem - 10px");
		overflow-y: auto;
		margin-top: calc(~"3rem + 10px");
		.ws-article {
			overflow: auto;
			background: white;
			padding: 0 10px 10px 10px;
			border-radius: 4px;
			margin: 10px 10px 10px 10px;
			box-shadow: 0 0 2px 1px #ddd;
			h3 {
				height: 50px;
				line-height: 50px;
				font-weight: bold;
				color: #2196F3;
				font-size: 1.3rem;
			}
			.ws-article-content {
				line-height: 2em;
				color: #666;
				.ws-highlight {
					color: #FF9800;
				}
			}
		}
	}
}