.ws-home {
	& > a {
		display: block;
		margin: 1em;
	}
	.ws-banner {
		height: 60vh;
		background: #ccc;
		display: flex;
		color: white;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.ws-box {
		width: 50vw;
		height: 20vh;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: white;
		vertical-align: top;
		.iconfont {
			font-size: 2rem;
			color: #333;
		}
		a {
			color: #333;
			font-size: 0.9rem;
			line-height: 2.5rem;
			text-decoration: none;
		}
	}
	.theme {
		border-right: 1px solid #ccc;
	}
	.product {

	}
	.about {
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}
	.join {
		border-top: 1px solid #ccc;
	}
}
